<footer class="bg-black py-5">
    <div class="container text-white">
        <div class="row">
            <div class=" col-12 col-md-2">
                <h3 class="ms-5"><b>SPOTİFY</b></h3>
            </div>
            <div class=" col-6 col-md-2">
                
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><small><b>ŞİRKET</b></small></li>
                    <li class=" mb-2">Hakkinda</li>
                    <li class="mb-2">Basin</li>
                    <li class=" mb-2">Haberler</li>
                </ul>
    
            </div>
            <div class="col-6 col-md-2">
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><small><b>TOPLULUKLAR</b></small> </li>
                    <li class="mb-2">Sanatçılar İçin</li>
                    <li class="mb-2">Geliştiriciler</li>
                    <li class="mb-2">Markalar</li>
                    <li class="lmb-2">Yatırımcılar</li>
                </ul>
    
            </div>
            <div class="col-6 col-md-2">
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><small><b>YARARLI BAĞLANTILAR</b></small></li>
                    <li class="mb-2">Yardim</li>
                    <li class="mb-2">Hediye</li>
                    <li class="lmb-2">Web Çalar</li>

                </ul>
    
            </div>
            <div class=" col-12 col-md-4 float-md-right">
                <i class="fa fa-facebook fa-2x mx-3" aria-hidden="true"></i>
                <i class="fa fa-twitter fa-2x mx-3" aria-hidden="true"></i>
                <i class="fa fa-instagram fa-2x mx-3" aria-hidden="true"></i>
            </div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <ul class="list-inline mt-5 text-white float-left">
                <li class="list-inline-item ms-5">Yasal</li>
                <li class="list-inline-item ms-4">Gizlilik</li>
                <li class="list-inline-item ms-4">Cookies</li>
                <li class="list-inline-item ms-4">Reklamlar Hakkinda</li>
            </ul>
             
        </div>
    </div>
</footer>