<nav class="navbar navbar-dark navbar-expand-lg bg-dark bgop text-white sticky-top">
<div class="container py-2">
    <a href="" class="navbar-brand">Spotify</a>
    <button  type="button" class="navbar-toggler border-0" data-bs-toggle="collapse" data-bs-target="#navbar-spotify" aria-controls="navbar-spotify">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-spotify">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item px-3">
                <a href="" class="nav-link text-white">Premium</a>
            </li>
            <li class="nav-item px-3">
                <a href="" class="nav-link text-white">Yardım</a>
            </li>
            <li class="nav-item px-3">
                <a href="" class="nav-link text-white">İndir</a>
            </li>
            <li class="nav-item px-3">
                <a href="" class="nav-link text-white">Kayıt Ol</a>
            </li>
            <li class="nav-item pl-3">
                <a href="" class="nav-link text-white">Oturum Aç</a>
            </li>
        </ul>
    </div>
</div>
</nav>