<section class="gradient paddiny pt-6">
    <div class="container">
        <div id="slider-spoti" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner text-center slider-size py-auto text-white ">
                <div class="carousel-item active ">
                    <h1 class="display-3 mb-4">Herkes için müzik</h1>
                    <a href="" class="btn btn-success py-2 px-5">Spotifyi ucretsiz olarak al</a>
                    <a href="" class="btn btn-outline-secondary ms-3 py-2 px-5">Spotify premiuma geç</a>
                </div>
                <div class="carousel-item ">
                    <h1 class="display-3">Tüm Ailen İçin Premium Sadece 31.31 TL.</h1>
                    <a href="" class="btn btn-success py-2 px-5">Daha Fazla Bilgi</a>
                </div>
                <div class="carousel-item ">
                    <h1 class="display-3">Öğrenciler %50 premium indirimi alır. Şakasız alıyor bu arada</h1>
                    <a href="" class="btn btn-success py-2 px-5">Daha Fazla Bilgi</a>
                </div>
                <div class="carousel-item ">
                    <h1 class="display-3">Spotifyı Macbook Ve Windowsta Çal</h1>
                    <a href="" class="btn btn-success py-2 px-5">Daha Fazla Bilgi</a>
                </div>
            </div>
            <a href="#slider-spoti" class="carousel-control-prev" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
    
            <a href="#slider-spoti" class="carousel-control-next" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
    
        </div>

    </div>
</section>