<section class="gradient py-5">
<div class="container">
    <h1 class="text-center text-white mb-5">Müziğe Ulaş</h1>
<div class="row">
    <div class="col-md-4 offset-md-2">
        <div class="card mb-4 border-0 shadow">
            <div class="card-body ">
                <h4 class="">Spotify Free</h4>
                <h2>00,00 TL <small>/ay</small></h2> 
                <hr class="mt-4 mb-5">
                <ul class="list-unstyled">
                    <li >
                        <i class="fa fa-check"></i>
                        Karışık Çal</li>
                    <li class="text-muted">
                        <i class="fa fa-check"></i>
                        Reklamsız</li>
                    <li class="text-muted">
                        <i class="fa fa-check"></i>
                        Sınırsız Atlama Hakkı</li>
                    <li class="text-muted">
                        <i class="fa fa-check"></i>
                        Çevrimdışı Dinle</li>
                    <li class="text-muted">
                        <i class="fa fa-check"></i>
                        İstediğin Parçayı Çal</li>
                    <li class="text-muted">
                        <i class="fa fa-check"></i>
                        Yüksek Kalite Ses</li>
                </ul>
                <hr class="mt-4 mb-4">
                <a href="#" class="btn btn-success w-100">Ücretsiz Edin</a>

            </div>

        </div>
    </div>
    <div class="col-md-4 ">
        <div class="card  mb-4 border-0 shadow">
            <div class="card-body ">
                <h4 class="">Spotify Premium</h4>
                <h2>31,31 TL <small>/ay</small></h2> 
                <small>30 gün ücretsiz denemeyi başlat Aile ve Öğrenci Tekliflerimiz var.</small>>
                <hr>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-check"></i>
                        Karışık Çal</li>
                    <li >
                        <i class="fa fa-check"></i>
                        Reklamsız</li>
                    <li >
                        <i class="fa fa-check"></i>
                        Sınırsız Atlama Hakkı</li>
                    <li >
                        <i class="fa fa-check"></i>
                        Çevrimdışı Dinle</li>
                    <li >
                        <i class="fa fa-check"></i>
                        İstediğin Parçayı Çal</li>
                    <li >
                        <i class="fa fa-check"></i>
                        Yüksek Kalite Ses</li>
                </ul>
                <hr>
                <a href="#" class="btn btn-success w-100 ">Premium Edin</a>

            </div>

        </div>
    </div>
    <div class="col-md-8 offset-md-2"><p class="text-center text-white">spotify yazisi spotify yazisi spotify yazisi spotify yazisi spotify yazisi spotify yazisi spotify yazisi spotify yazisi spotify yazisi spotify yazisi spotify yazisi </p></div>
</div>
</div>
</section>