<section class="gradient py-5">
    <div class="container text-white">
        <div class="row  ">
                <div class="col-md-3 offset-md-1 d-none d-md-block">
                    <h4 class="text-center">Senin İçin Yapıldı</h4>
                    <div class="row">
                  
                        <div class="col-sm-6 text-center">
                            <img src="../../../assets/img/photo-1468164016595-6108e4c60c8b.avif" class="img-fluid">
                            <small>sana özel günün derlemesi</small>
                        </div>
                        <div class="col-sm-6 text-center">
                            <img src="../../../assets/img/photo-1516280440614-37939bbacd81.avif" class="img-fluid">
                            <small>yeni çıkanlar derlemesi</small>
                        </div>
                        <ul class="list-unstyled m-3  ulstyle">
                           <li class="py-2">
                            <i class="fa fa-line-chart"></i>
                            Listeler
                            <i class="fa fa-angle-right float-right" aria-hidden="true"></i>
                           </li>
                            <li class="py-2">
                                <i class="fa fa-calendar-o"></i>
                                Yeni Çıkanlar
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </li>
                            <li class="py-2">
                                <i class="fa fa-play"></i>
                                Videolar
                                <i class="fa fa-angle-right float-right" aria-hidden="true"></i>
                            </li>
                            <li class="py-2">
                                <i class="fa fa-podcast"></i>
                                Podcastler
                                <i class="fa fa-angle-right float-right" aria-hidden="true"></i>
                            </li>
                            <li class="py-2">
                                <i class="fa fa-circle-o-notch"></i>
                                Keşfet
                                <i class="fa fa-angle-right float-right" aria-hidden="true"></i>
                            </li>
                        </ul>
                    
                    </div>
                </div>
                <div class="col-md-5 offset-md-2 ">
                <h1 class="mb-4">KOLAYDIR</h1>
                <h4 class="mb-4">Ara</h4>
                <p class="mb-4">deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme </p>
                <h4 class="mb-4">GÖZ AT</h4>
                <p class="mb-4">deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme </p>
                <h4 class="mb-4">KEŞFET</h4>
                <p class="mb-4">deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme </p>
                </div>
        </div>

    </div>
</section>