<section class="paddiny">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 ">
                <h1 class="text-center float-lg-left">Bir Hesap. Her Yerde Dinle.</h1>
                <ul class="list-inline ms-3 mt-5 text-center float-lg-left d-none d-sm-block">
                    <li class="list-inline-item ms-1">MOBİL</li>
                    <li class="list-inline-item ms-1">BİLGİSAYAR</li>
                    <li class="list-inline-item ms-1">TABLET</li>
                    <li class="list-inline-item ms-1">ARABA</li>
                </ul>
                <ul class="list-inline ms-3 mt-3 pb-4 text-center float-lg-left d-none d-sm-block">
                    <li class="list-inline-item ms-1 green-color">HOPARLÖR</li>
                    <li class="list-inline-item ms-1 green-color">XBOX</li>
                    <li class="list-inline-item ms-1 green-color">PLAYSTATİON</li>
                    <li class="list-inline-item ms-1 green-color">TV</li>
                    <li class="list-inline-item ms-1 green-color">WEB CALAR</li>
                </ul>
                <div class="row  d-sm-none mt-4">
                    <div class="col">
                        <ul class="list-unstyled  text-center ">
                            <li >MOBİL</li>
                            <li class="mt-1">BİLGİSAYAR</li>
                            <li class="mt-1" >TABLET</li>
                            <li class="mt-1">ARABA</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled pb-4 text-center ">
                            <li class="mt-1 green-color">HOPARLÖR</li>
                            <li class="mt-1 green-color">XBOX</li>
                            <li class="mt-1 green-color">TV</li>
                            <li class="mt-1 green-color" >WEB CALAR</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-0">
                <img class="img-fluid" src="../../../assets/img/photo-1494232410401-ad00d5433cfa.avif">

            </div>

        </div>

    </div>

</section>