<section class="py5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="mb-4">Spotify da Neler Var</h1>
                <h4> Müzik</h4>
                <p>bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler </p>
                <h4 class="mb-4"> Çalma Listeleri</h4>
                <p>bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler </p>
                <h4 class="mb-4"> Yeni Çıkanlar</h4>
                <p>bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler bisiler </p>
            </div>
            <div class="col-md-6">
                <div class="row g-0">
                    <div class="col-6 col-lg-6 col-md-12"><img src="../../../assets/img/photo-1468164016595-6108e4c60c8b.avif" class="img-fluid"></div>
                    <div class=" col-6 col-lg-6 col-md-12"><img src="../../../assets/img/photo-1494232410401-ad00d5433cfa.avif" class="img-fluid"></div>
                    <div class="col-6 col-lg-6 col-md-12"><img src="../../../assets/img/photo-1516280440614-37939bbacd81.avif" class="img-fluid"></div>
                    <div class="col-6 col-lg-6 col-md-12 d-md-none d-lg-block"><img src="../../../assets/img/photo-1524678606370-a47ad25cb82a.avif" class="img-fluid"></div>

                </div>
            </div>

        </div>
    </div>
</section>
